<div class="card" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title">Product</h5>
    <div class="card-text">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Id: <span class="text-muted">{{ item.id }}</span>
        </li>
        <li class="list-group-item">
          Code: <span class="text-muted">{{ item.code }}</span>
        </li>
        <li class="list-group-item">
          Device-id: <span class="text-muted">{{ item.device_id }}</span>
        </li>
        <li class="list-group-item">
          Label: <span class="text-muted">{{ item.label }}</span>
        </li>
        <li class="list-group-item" *ngIf="item.current_job">
          current_job: <span class="text-muted">{{ item.current_job }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
