<div class="body">
  <div class="container py-3">
    <h1>Some data</h1>
    <hr />
    <div class="d-flex justify-content-center align-items-center">
      <div class="spinner-border" role="status" *ngIf="isLoading">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="d-flex flex-wrap overflow-auto">
        <app-data-card
          *ngFor="let item of data"
          class="m-3"
          [item]="item"
        ></app-data-card>
      </div>
    </div>
  </div>
</div>
